body{
    background-color: #df5025;
}
h1{
    color: #eee;
    font-size: 22px;
    font-weight: bold;
    width: 400px;
    margin: 30px auto 15px;
}
.container{
    padding: 10px;
    position: relative;
}
.container .wisdoms {
    max-width: 400px;
    margin: auto;
    position: relative;
    background-color: #eee;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0px 0px 8px #eee;
}
.container .wisdoms .wisdom{
    max-width: 100%;
    height: 100%;
    padding: 6px 18px;
    display: none;
}
.container .wisdoms .active{
    display: block;
}
.container .wisdoms .wisdom .wisdom_on,
.container .wisdoms .wisdom .wisdom_from
{
    color: #333;
    font-size: 20px;
    font-weight: bold;
    margin: 10px 4px;
    overflow-wrap: anywhere;
}
.container .wisdoms .wisdom .wisdom_on::before{
    content: "ON :";
    margin-right: 10px;
    padding-bottom: 2px;
    color:#df5025;
    font-size: 16px;
}
.container .wisdoms .wisdom .wisdom_from::before{
    content: "FROM :";
    margin-right: 10px;
    padding-bottom: 2px;
    color:#df5025;
    font-size: 16px;
}
.container .wisdoms .wisdom .wisdom_text{
    line-height: 1.8;
    font-size: 18px;
    color: #333;
    margin: 19px 10px;
    overflow-wrap: anywhere;
}
.container .control{
    position: absolute;
    bottom: -40px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #eee;
    padding: 2px;
    box-shadow: 0px 0px 8px #eee;
}
.container .control button{
    padding: 2px 20px;
    flex-wrap: nowrap;
    border: none;
    margin: 4px;
    background-color: #333;
    font-size: 20px;
    cursor: pointer;
    color: #eee;
    box-shadow: 0px 0px 2px #333;
}
.container .form{
    position: absolute;
    bottom: -215px;
    left: 50%;
    transform: translateX(-50%);
    padding: 4px;
    box-shadow: 0px 0px 8px #eee;
    width: 400px;
    background-color: #df5025;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.container .form input{
    padding:10px 4px;
    color: #333;
    margin: 5px auto;
    border:none;
    border-radius: 2px;
    display: block;
    width: 98%;
    font-size: 12px;
    font-weight: bold;

}
.container .form  button{
    padding: 2px 20px;
    flex-wrap: nowrap;
    border: none;
    margin: 4px;
    background-color: #333;
    font-size: 20px;
    cursor: pointer;
    color: #eee;
    box-shadow: 0px 0px 2px #333;
}